### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
Pymoli = "/Users/grahamwaak/Desktop/Heroes_of_Pymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Pymoli_df = pd.read_csv(Pymoli)
Pymoli_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [3]:
## Total Players
uniqueplayers=Pymoli_df["SN"].nunique()
total_players_final = pd.DataFrame({"Total Players": [uniqueplayers]}, columns= ["Total Players"])
total_players_final

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
## Total Unique Items
unique_count = len(Pymoli_df["Item ID"].unique())

## Average Purchase Price
average = Pymoli_df["Price"].mean()

## Total Revenue
total_revenue = Pymoli_df["Price"].sum()

## Display Purchasing Analysis Table
stats_summary = pd.DataFrame({"Total Unique Items": unique_count, "Average Purchase Price": [average], "Total Revenue": [total_revenue]})

## Format the Values to have Two Decimal Places with Currency
stats_summary["Average Purchase Price"] = stats_summary["Average Purchase Price"].astype(float).map("${:,.2f}".format)
stats_summary["Total Revenue"] = stats_summary["Total Revenue"].astype(float).map("${:,.2f}".format)

stats_summary

   Total Unique Items Average Purchase Price Total Revenue
0                 183                  $3.05     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
## Group Data by Gender
gender = Pymoli_df.groupby("Gender")

## Count the Total Unique Names per Gender
total_count_gender = gender.nunique()["SN"]

## Total Count of Gender Percentage of Total
percentage_of_players = total_count_gender / uniqueplayers * 100

## Creat Data Frame with Obtained Values
gender_dem = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

## Format the Values in Descending Order with Two Decimals and Percentage
gender_dem.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
## Total Purchase Count per Gender
purchase_total = gender["Price"].count()

## Average Purchase Price
average_purchase_price = gender["Price"].mean()

## Average Purchase Total per Gender
average_purchase_total = gender["Price"].sum()

## Average Purchase Total per Gender of Purchase Count for Unique Shoppers
average_purchase_per_person = average_purchase_total/total_count_gender

## Create Data Frame with Values
gender_dem = pd.DataFrame({"Purchase Total": purchase_total, "Average Purchase Price": average_purchase_price, "Average Purchase Total": average_purchase_total, "Average Purchase Total per Player": average_purchase_per_person})

## Format with Currency
gender_dem.style.format({"Average Purchase Total":"${:,.2f}", "Average Purchase Price":"${:,.2f}", "Average Purchase Total per Player":"S{:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:

## Establish Bins for Ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Segment and Sort Age Values into Bins 
Pymoli_df["Age Group"] = pd.cut(Pymoli_df["Age"],age_bins, labels=group_names)


#3 Create Data Frame with the "Age Group" 
age_grouped = Pymoli_df.groupby("Age Group")

# Count Total Players by Age Category
total_count_age = age_grouped["SN"].nunique()

# Calculate Percentages by Age Category
percentage_by_age = (total_count_age/uniqueplayers) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame